<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="external_2015_paper.Properties.Settings.employeedbConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=employeedb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>