
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<html>
<head>
    <title>Form</title>
</head>
<body>
    <form method="post" @*action="Study/Show"*@>
      Name:  <input id="name" type="text" name="name" /><br>
      Gender:  <input id="gender" type="text" name="gender" /><br>
        <input id="Submit1" type="submit" value="submit" /><br>
    </form>
</body>
</html>