<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sep_2012.Properties.Settings.customersConnectionString"
            connectionString="Data Source=.\MSSQLSERVER2;Initial Catalog=customers;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="sep_2012.Properties.Settings.deptConnectionString"
            connectionString="Data Source=.\MSSQLSERVER2;Initial Catalog=dept;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>